/* 公共样式 */
.fl {
    float: left;
}

.fr {
    float: right;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

.style-red {
    color: #c81623;
}

.spacer {
    width: 1px;
    height: 12px;
    background-color: #666666;
    margin: 9px 12px 0;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?pjxwbo');
    src: url('../fonts/icomoon.eot?pjxwbo#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?pjxwbo') format('truetype'),
        url('../fonts/icomoon.woff?pjxwbo') format('woff'),
        url('../fonts/icomoon.svg?pjxwbo#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.icomoon {
    font-family: 'icomoon';
    font-size: 16px;
    line-height: 26px;
}

/* 顶部快捷导航 */
.shortcut {
    height: 31px;
    background-color: #f1f1f1;
    line-height: 31px;
}

.shortcut li {
    float: left;
}

/* header区域开始 */
.header {
    position: relative;
    height: 105px;
    /* background-color: pink; */
}

.header .logo {
    position: absolute;
    top: 25px;
    left: 0;
    width: 175px;
    height: 56px;
}

.header .logo a {
    display: block;
    /* overflow: hidden; */
    width: 175px;
    height: 56px;
    background: url(../img/logo.png) no-repeat;
    /* text-indent: -999px; */
    font-size: 0;
}

.header .search {
    position: absolute;
    top: 25px;
    left: 349px;
}

.header .search input {
    float: left;
    width: 445px;
    height: 32px;
    /* color: #ccc; */
    padding-left: 10px;
    border: 2px solid #b1191a;
}

.header .search .btn {
    float: left;
    width: 82px;
    height: 32px;
    color: #fff;
    background-color: #b1191a;
    border: 0;
    font-size: 16px;
}

.header .hotwords {
    position: absolute;
    top: 65px;
    left: 349px;
}

.header .hotwords a {
    margin: 0 10px;
}

.header .shopcar {
    position: absolute;
    top: 25px;
    right: 63px;
    width: 138px;
    height: 34px;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
    line-height: 34px;
    text-align: center;
}

.car {
    font-family: 'icomoon';
    color: #db5c5c;
}

.arrow {
    font-family: 'icomoon';
    margin-left: 5px;
}

.header .shopcar .count {
    position: absolute;
    top: -5px;
    left: 104px;
    height: 14px;
    padding: 0 3px;
    line-height: 14px;
    color: #fefefe;
    background-color: #e60012;
    border-radius: 7px 7px 7px 0;
}

.nav {
    height: 47px;
    border-bottom: 2px solid #b1191a;
}

.nav .dropdown {
    float: left;
    width: 209px;
    height: 45px;
    background-color: #b1191a;
}

.nav .navitems {
    float: left;
}

.nav .dropdown .dt {
    width: 100%;
    height: 100%;
    background-color: #b1191a;
    color: #fff;
    text-align: center;
    line-height: 45px;
    font-size: 16px;
}

.nav .dropdown .dd {
    width: 209px;
    height: 465px;
    margin-top: 2px;
    background-color: #c81623;
}

.nav .dropdown .dd ul li {
    position: relative;
    height: 31px;
    line-height: 31px;
    margin-left: 2px;
    padding-left: 10px;
}

.nav .dropdown .dd ul li:hover {
    background-color: #fff;
}

.nav .dropdown .dd ul li::after {
    position: absolute;
    top: 0;
    right: 10px;
    color: #fff;
    content: '\ea50';
    font-family: 'icomoon';
    font-size: 14px;
}

.nav .dropdown .dd ul li:hover a {
    color: #c81623;
}

.nav .dropdown .dd ul li a {
    font-size: 14px;
    color: #fff;
}

.navitems ul li {
    float: left;

}

.navitems ul li a {
    display: block;
    height: 45px;
    line-height: 45px;
    padding: 0 25px;
    font-size: 16px;
}